@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/static/Figtree-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/static/Figtree-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

:root {
  --dark-bg: hsl(0, 0%, 7%);
  --orange: hsl(47, 88%, 63%);
  --grey:hsl(0, 0%, 42%);
}

body {
    margin:0;
    font-family: "Figtree", sans-serif;
    background-color: var(--dark-bg);
    color: hsl(0, 0%, 7%);
}

main {
    background-color: var(--orange);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-container {
    border: 1px solid var(--orange);
    max-width: 20rem;
    background-color: hsl(0, 0%, 100%);
    padding: clamp(0.75rem, 2vw, 1.5rem);
    border-radius: 12px;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 1);
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.text-content {
    margin-block-start: 1.2rem;
}

span {
    font-weight: 800;
    background-color: var(--orange);
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
}

.date {
    margin-block-start: 1.2rem;
    font-weight: 500;
    font-size: 0.95rem;
}

h1 {
    font-size: 1.25rem;
}

h1:hover {
    color: var(--orange);
    cursor: pointer;
}

.description {
    font-size: 1rem;
    color: var(--grey);
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.25rem;
}

.profile img {
    width: 25px;
}

.profile .name {
    font-size: 12px;
    font-weight: 800;
}